#!/bin/bash

# .bootstrap/setup-mac.yml hash: {{ include "dot_bootstrap/setup-mac.yml" | sha256sum }}
# .bootstrap/setup-linux.yml hash: {{ include "dot_bootstrap/setup-linux.yml" | sha256sum }}

echo -e "[INFO] Playbook has been updated, running the playbook again."

if command -v ansible-playbook &> /dev/null; then
    if [[ "$OSTYPE" == "darwin"* ]]; then
        echo -e "[INFO] Running Ansible playbook for Mac setup..."
        ansible-playbook {{ joinPath .chezmoi.sourceDir "dot_bootstrap/setup-mac.yml" | quote }} --ask-become-pass
    elif [[ "$OSTYPE" == "linux-gnu"* ]]; then
        echo -e "[INFO] Running Ansible playbook for Linux setup..."
        ansible-playbook {{ joinPath .chezmoi.sourceDir "dot_bootstrap/setup-linux.yml" | quote }} --ask-become-pass -vv
    else
        echo -e "[ERROR] Unsupported OS: $OSTYPE"
        exit 1
    fi
fi
